version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: keycloak_postgres
    restart: always
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak123
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - keycloak_net

  keycloak:
    user: root
    image: quay.io/keycloak/keycloak:24.0.2
    container_name: keycloak
    restart: always

    command:
      - start-dev
      - --health-enabled=true
      - --transaction-xa-enabled=false
      - --hostname-strict=false
      - --hostname-strict-https=false
      - --hostname=${KEYCLOAK_HOSTNAME}
      - --https-port=8443
      - --https-certificate-file=/opt/keycloak/certs/server.crt
      - --https-certificate-key-file=/opt/keycloak/certs/server.key

    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}

    depends_on:
      - postgres

    ports:
      - "8080:8080"   # HTTP
      - "8443:8443"   # HTTPS

    volumes:
      - /opt/keycloak/certs:/opt/keycloak/certs:ro

    networks:
      - keycloak_net

volumes:
  postgres_data:

networks:
  keycloak_net:
    driver: bridge
