version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: keycloak_postgres
    restart: always
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak123
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - fiware_default

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.2
    container_name: keycloak
    restart: always
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_HTTP_PORT: 8080
      KC_DB: postgres
      KC_DB_URL_HOST: postgres
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak123
      KC_DB_SCHEMA: public
      KEYCLOAK_HOSTNAME_URL: ${KEYCLOAK_HOSTNAME_URL}
    command:
      - start-dev
      - --hostname-strict=false
      - --hostname-strict-https=false
      - --spi-login-protocol-openid-connect-legacy-logout-redirect-uri=true
      - --hostname-url=${KEYCLOAK_HOSTNAME_URL}
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    volumes:
      - keycloak_data:/opt/keycloak/data
    networks:
      - fiware_default

volumes:
  postgres_data:
  keycloak_data:

networks:
  fiware_default:
    external: true
