version: "3.9"

services:
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    command:
      - start-dev
      - --http-enabled=true
      - --hostname-strict=false
      - --hostname-strict-https=false
      - --http-relative-path=/
    ports:
      - "8080:8080"
    restart: unless-stopped
