version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: keycloak_postgres
    restart: always
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak123
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - keycloak_net

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.2
    container_name: keycloak
    restart: always
    command:
      - start-dev
      - --hostname-strict=false
      - --hostname-strict-https=false
      - --http-enabled=true
      - --http-port=8080
      - --hostname=${KEYCLOAK_HOSTNAME}
      - --db=postgres
      - --db-username=keycloak
      - --db-password=keycloak123
      - --db-url-host=postgres
      - --db-schema=public

    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    networks:
      - keycloak_net

volumes:
  postgres_data:

networks:
  keycloak_net:
    driver: bridge
