version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: keycloak_postgres
    restart: always
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak123
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - keycloak_net

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.2
    container_name: keycloak
    restart: always
    command:
      - start
      - --https-enabled=true
      - --https-port=8443
      - --https-certificate-file=/certs/server.crt
      - --https-certificate-key-file=/certs/server.key
      - --hostname-strict=false
      - --hostname-strict-https=false
      - --hostname=$(curl -s ifconfig.me)
      - --db=postgres
      - --db-username=keycloak
      - --db-password=keycloak123
      - --db-url-host=postgres
      - --db-schema=public
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8443:8443"
    volumes:
      - /opt/keycloak/certs:/certs
      - keycloak_data:/opt/keycloak/data
    networks:
      - keycloak_net

volumes:
  postgres_data:
  keycloak_data:

networks:
  keycloak_net:
    driver: bridge
